html, body, #shazam {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide {
  padding: 5%;
  width: 90%;
  height: 90%;
  background-size: cover;
}

.slide:target {
}